body {
    text-align: center;
    background-color: burlywood;
    padding-top: 14%;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 5px;
}

.boton{
    font-size:15px;
    font-weight:bold;
    background-color: #2B2B2B;
    color: white;
    border-color: white;
    width:150px;
    height:35px;
}

.text {
    width:260px;
    height:35px;
    text-align: center;
    font-size: 20px;
}

img {
    width: 400px;
    height: 200px;
}